<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        Happy Harbor Climate
      </a>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Welcome#index</h1>
      <p>Find me in app/views/welcome/index.html.erb</p>
    </div>
  </div>
</div>
